[submodule "src/thirdparty/libbulletml"]
	path = src/thirdparty/libbulletml
	url = https://github.com/chibifire/libbulletml
[submodule "src/thirdparty/godot-cpp/godot_headers"]
	path = src/thirdparty/godot-cpp/godot_headers
	url = https://github.com/GodotNativeTools/godot_headers
[submodule "src/thirdparty/godot-cpp"]
	path = src/thirdparty/godot-cpp
	url = https://github.com/GodotNativeTools/godot-cpp
[submodule "src/thirdparty/godot"]
	path = src/thirdparty/godot
	url = https://github.com/godotengine/godot
